venv/
/venv

# Ignore all CSV files in data/accidents directory
data/accidents/*.csv

# Ignore all XLSX files in the entire repository
*.xlsx

# Ignore pycache directories
__pycache__/data/accidents/*.csv
__pycache__/*.xlsx
data/accidents/*.csv
data/accidents/
*.xlsx
